/*                    MAIN                     */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; 
}
*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.pagewraper{
    font-family: 'Roboto', sans-serif;
     color: #323232;
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header__content{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__contact{
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}
.logo__h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.logo__h2{
    font-size: 14px;
}
.contact__h3{
    font-size: 12px;
}
.contact__h1>i{
    padding-right: 5px;
    color: #0040FF;
    font-size: 25px;
}
.contact__h1>span{
    font-size: 25px;
}
.contact__h2{
    font-size: 17px;
}
.menu_button{
    /*display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;*/
    display: none;
}
.menu_button>i{
    font-size: 20px;
}

.header__menu{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    
}
.nav{
   display: flex;
   flex-direction: row;
    padding-top: 10px;
}
.nav>li{
    list-style: none;
    padding: 5px 5px;
}
.nav>li>a{
    display: block;
    text-decoration: none;
    color: #323232; 
    font-size: 18px;
}
.nav>li>a:hover{
    color: #3bcce5;
    border-bottom: 1px solid #3bcce5;
}
/*
================================================================================
|                                     About                                   |
================================================================================
*/
.about{
    background: url(../img/index__img.jpg) center bottom no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    padding: 250px 0;
    font-family: 'Playfair Display', serif;
    color: #fff;
}
.about__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
}
.about__content>span{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.about__us__content>img{
    padding-top: 20px;
    max-width: 100%;
    height: auto;
}
/*
================================================================================
|                                     About__us                                   |
================================================================================
*/
.about__us{
    padding: 30px 0;
    background-color: #fff;
}
.about__us__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about__us__content>span{
    font-size: 18px;
    font-weight: bold;
}
.about__us__content>p{
    padding-top: 20px;
    font-size: 14px;
}
/*
================================================================================
|                                     About__us                                   |
================================================================================
*/
.why__we{
    padding: 60px 0;
    background-color: #ef8310;
    color: #000000;
}
.why__we__content{
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
}
.why__we__block{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}
.why_number>span{
    font-weight: bold;
    font-size: 50px;
    padding-right: 30px;    
}
.why_text>span{
    font-size: 30px;
}
.why_text>p{
    font-size: 14px;    
}
/*
================================================================================
|                                     Room                                   |
================================================================================
*/
.room{
    background-color: #edefed;
}
/*style for slider*/
.room__content{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}
.our_room{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
.room_h{
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
}
.room__content>p{
    padding-top: 15px;
}
.sl{
    padding-top: 20px;
    padding-bottom: 40px;
     max-width: 100%;
     position: absolute;
}
.sl_slide>img{
    max-width: 100%;
    max-height: 100%;
}
.room_2{
    background-color: #fff;
}
/*
================================================================================
|                                     Footer                                 |
================================================================================
*/
.footer{
    background-color: #A9A9A9;
    padding-bottom: 40px;
}
.footer__content{
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    
}
.footer__content{
    text-align: center;
    padding-top: 30px;
}
.footer__content>span{
    font-size: 25px;
    text-transform: uppercase;
}
.footer__contact{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__invite{
    display: flex;
    flex-direction: column;
    max-width: 310px;
    
}
.footer__telephon{
    display: flex;
    flex-direction: column;
    max-width: 310px;
    
}
.footer__addres{
    display: flex;
    flex-direction: row;
    max-width: 310px;
    
}
